@using Entities.Dtos.Auth
@model UserForRegisterDTO

<div class="container register-form">
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="d-flex">
                    <div class="form-group p-3">
                        <label asp-for="@(Model.Name)" class="control-label"></label>
                        <input asp-for="@(Model.Name)" class="form-control" required/>
                        <span asp-validation-for="@(Model.Name)" class="text-danger"></span>
                    </div>
                    <div class="form-group p-3">
                        <label asp-for="@(Model.Surname)" class="control-label"></label>
                        <input asp-for="@(Model.Surname)" class="form-control" required/>
                        <span asp-validation-for="@(Model.Surname)" class="text-danger"></span>
                    </div>
                </div>
                 <div class="d-flex">
                    <div class="form-group p-3">
                        <label asp-for="@(Model.Mail)" class="control-label"></label>
                        <input asp-for="@(Model.Mail)" type="email" class="form-control" required/>
                        <span asp-validation-for="@(Model.Mail)" class="text-danger"></span>
                    </div>
                    <div class="form-group p-3">
                        <label asp-for="@(Model.Address)" class="control-label"></label>
                        <input asp-for="@(Model.Address)" class="form-control" required/>
                        <span asp-validation-for="@(Model.Address)" class="text-danger"></span>
                    </div>
                </div>
                <div class="d-flex">  
                    <div class="form-group p-3">
                        <label asp-for="@(Model.Password)" class="control-label"></label>
                        <input asp-for="@(Model.Password)" type="password" class="form-control" required/>
                        <span asp-validation-for="@(Model.Password)" class="text-danger"></span>
                    </div>
                    <div class="form-group p-3">
                        <label asp-for="@(Model.PasswordVerify)" class="control-label"></label>
                        <input asp-for="@(Model.PasswordVerify)" type="password" class="form-control" required/>
                        <span asp-validation-for="@(Model.PasswordVerify)" class="text-danger"></span>
                    </div>                
                </div>                    
                <div class="d-flex">    
                    <div class="form-group p-3">
                        <label asp-for="@(Model.Gsm)" class="control-label"></label>
                        <input asp-for="@(Model.Gsm)" type="number" class="form-control" required/>
                        <span asp-validation-for="@(Model.Gsm)" class="text-danger"></span>
                    </div>
                    <div class="form-group p-3">
                        <label asp-for="@(Model.Gender)" class="control-label"></label>
                        <input asp-for="@(Model.Gender)" class="form-control" required/>
                        <span asp-validation-for="@(Model.Gender)" class="text-danger"></span>
                    </div>
                </div>
                <div class="d-flex">
                    <div class="form-group p-3">
                        <label asp-for="@(Model.DateOfBirth)" class="control-label"></label>
                        <input asp-for="@(Model.DateOfBirth)" type="date" class="form-control" required/>
                        <span asp-validation-for="@(Model.DateOfBirth)" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                   <div class="form-group">
                        <input class="btn btn-success" type="submit" asp-action="Register" value="Kayıt Ol" />
                    </div> 
                </div>
                @if(ViewBag.AuthSuccess == false)
                {                
                <div class="col-md-6">
                    <label class="text-danger">@ViewBag.Message</label>
                </div>
                }
            </form>
        </div>
    </div>
</div>

<!-- Button to Open the Modal -->
<button id="modalButton" type="button" class="btn btn-primary d-none" data-toggle="modal" data-target="#myModal">
  Open modal
</button>

<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Kayıt bilgisi</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <span class="text-warning">@ViewBag.Message</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    @if(ViewBag.Message != null && ViewBag.AuthSuccess == true)
    {
        <script>
            document.getElementById('modalButton').click();
        </script>
    }
    
}